<!DOCTYPE html>
<html>
  <head>
    <title>Apocalypse NOW!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <link rel="shortcut icon" href="/images/nuke.png">
    <link href='https://fonts.googleapis.com/css?family=Geostar+Fill' rel='stylesheet' type='text/css'>
  </head>
  <header class="navbar">
  <img src="/images/nuclearSymbol.png"><h1>APOCALYPSE NOW!</h1>
  </header>
  <body>
    <div class='container'>

      #parse( $template )

    </div>
  </body>

<footer>
<p> <center> <>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<> </p>

  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <div class="stats">
        <div class="row">
          <div class="col-md-4">
            <img src="/images/imageTitle.png" alt="silhoutte">
          </div>

          <div class="col-md-6">
            <h2> STATS </h2>
            <h4> Buzz Level: </h4>

            <h4> Alertness: </h4>

            <h4> Fullness: </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
    </div>

  </div>
</footer>

</html>
