<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>

      #parse( $template )

    </div>
  </body>
</html>

<p> <center> <>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<>.<> </p>

<div> <center>
  <h2> Buzz Level: </h2>

  <h2> Alertness: </h2>

  <h2> Fullness: </h2>
</div>
